* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: cursive;
}

.container {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.container h3 {
    padding-top: 10px;
}

.container .progress{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    
}

.container .progress .bar {
    width: 0%;
    height: 10px;
    background-color: orange;
    border-radius: 20px;
}