*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    border: 2px solid;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10%;
}

.container input{
    width: 250px;
    height: 80px;
    margin: 50px 80px;
    padding-left: 10px;
    font-size: 30px;
    text-align: center;
}

.container button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    margin: 0px 100px;
    cursor: pointer;
}